.main {
  min-height: 90vh;
  display: grid;
  place-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  &__btn {
    padding: 1rem 3rem;
    border-radius: 15px;
    border: none;
    background-color: dodgerblue;
    color: white;
    font-size: 18px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    }

    &:active {
      box-shadow: none;
    }
  }
}
